body {
  background-color: rgb(247, 245, 235);
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Space Mono', monospace; */
  color: rgb(50, 50, 50);
  font-size: 16px;
  line-height:20px;
  font-weight: 300;
}

h1, h2, h3, a{
  color: #76549A;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 28px;
  line-height:32px;
}

h1 {
  font-size: 24px;
  line-height:28px;
}

h3 {
  font-size: 20px;
  line-height:24px;
}

i {
  font-size: 30px;
  letter-spacing: 20px;
}

strong {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

li {
  list-style-type: none;
  display: inline;
}

ul {
  padding: 0px;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgb(255, 255, 251);
  padding: 40px;
  margin:20px;
  border-radius: 5px;
}

.container {
  margin: 0 auto;
}

#avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: 0.02s ease-in-out;
  opacity: 100%;
}

#avatar:hover {
  opacity: 80%;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.btn-purple {
  background-color: #76549A;
  font-weight: 400;
  transition: 0.4s ease-in-out;
  width: 150px;
  margin: 0 auto;
  padding: 10px 5px;
  border-radius: 5px;
}

.btn-purple a {
  color:rgb(255, 255, 251);
}

.btn-purple:hover {
  background-color: #DF7861;
}

.btn-purple a:hover {
  color:rgb(255, 255, 251);
}

a{
  color: #76549A;
  text-decoration: none;
  font-weight: 400;
  transition: 0.4s ease-in-out;
}

a:hover{
  color: #DF7861
}
